/* Start Variable  */
:root{
    --main-color : #30e3ca;
    --main-color-alt: #1cd1b7;
    --main-transition: .3s;
    --back-mini : #ececec;
    --padding-mini : 5px 20px;
    --color-grey : #777;
    --box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.089);
    --padding-top : 100px;
    --padding-bottom: 100px;
    --back-section : #f5f5f5;
}
/* End Variable  */

/* Start Global Rules  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #00a88f;
    /* border-radius: 50px; */
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
}
/* End Global Rules  */

/* Start Component  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
img{
    -webkit-user-drag: none;
}
ul,a{
    user-select: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */
@media (min-width: 767px){
    .container{
        width: 750px ;
    }
}
/* Meduim  */
@media (min-width: 992px) {
    .container {
        width: 970px ;
    }
}
/* Larg  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    color: var(--main-color);
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin-bottom: 60px;
}
.main-title.bar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    width: 100px;
    height: 4px;
    margin-bottom: -10px;
    border-radius: 6px;
}
.mini-title {
    color: var(--color-grey);
    margin: 0 auto 0;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}

.mini-title::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: var(--main-color-alt);
    border-radius: 6px;
}
.icon-heart {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: var(--back-mini);
    padding: 8px 10px;
    border-radius: 50%;
    transition: var(--main-transition);
    cursor: pointer;
}

.icon-heart::before {
    content: "\f004";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: var(--main-color-alt);
    transition: var(--main-transition);
}

.icon-heart:hover {
    color: #fff;
}

.icon-heart:hover {
    background-color: red;
    color: #fff;
}

.icon-heart:hover::before {
    color: #fff;
}
.category {
    background-color: var(--back-mini);
    padding: var(--padding-mini);
    border-radius: 50px;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--color-grey);
    font-size: 14px;
}
/* End Component  */

/* Start Header  */
.header{
    position: relative;
    margin-top: 20px;
    z-index: 10;
}
@media(max-width: 767px) {
    .header{
        margin-top: 0px;
    }
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 6px;
    height: 80px;
}
@media(max-width: 992px){
    .header{
        /* background-color: #fff; */
    }
        .header .container{
        width: 100%;
    }
}
.header .logo{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
/* @media(max-width: 992px) {
    .header .logo{
        font-size: 16px;
    }
} */
.header .logo span{
    color: var(--main-color);
}
.header nav{}
.header .main-nav{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
@media(max-width: 992px){
    .header .main-nav{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: 0px;
        background-color: #fff;
        height: calc(100vh - 40px);
        padding: 80px 20px;
        display: none;
        border: 1px solid black;
    }
    .header .main-nav.active {
        display: none;
    }

}

.header .main-nav li{}
.header .main-nav > li > a{
    height: 80px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grey);
    transition: var(--main-transition);
}

@media(max-width: 992px) {
    .header .main-nav > li > a {
        height: 50px;
        padding: 0;
        width: 200px;
    }
}
@media(max-width: 767px) {
    .header .main-nav>li>a {
        height: 30px;
        padding: 0;
        width: 120px;
    }
}
.header .main-nav > li > a:hover{
    color: var(--main-color);
}
.header .login{
    margin-left: 30px;
    position: relative;
}
@media(max-width: 992px) {
    .header .login{
        margin-left: 0;
    }
        .header .login::before{
            display: none;
        }
}
.header .login::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 30px;
    height: 20px;
    width: 1px;
    background-color: #d6d6d6;
}
.header .register a{}
.header .post a{
    background-color: var(--main-color);
    border-radius: 5px;
    margin-left: 20px;
    color: #fff !important;
    transition: var(--main-transition);
    height: 40px !important;
}
@media(max-width: 992px) {
    .header .post a {
        margin-left: 0;
        height: 30px !important;
    }
}

.header .post a:hover{
    background-color: var(--main-color-alt);
    color: #fff;
}
@media(max-width: 992px) {
}
.header .mult-menu{
    position: relative;
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 10;
    top: 100%;
    border-top: 2px solid #ececec;
}
.header .mega-menu{
    position: absolute;
    top: calc(100% + 30px);
    opacity: 0;
    left: 0;
    /* transform: translateX(-50%); */
    border-top: 2px solid var(--main-color-alt);
    width: 200px;
    background-color: #fff;
    transition: top var(--main-transition), opacity var(--main-transition);
    z-index: -2;
}
@media(max-width: 992px) {
    .header .mega-menu{
        left: -220px;
        top: 20px;
        transform: translateX(0%);
    }
    .header .main-nav > li:hover .mega-menu{
        top: 0;
        border-left: 2px solid #ececec;
    }
}
.header .mega-menu li{
    padding: 10px 20px;
}
.header .mega-menu ul li:not(:last-child){
    border-bottom: 1px solid var(--main-color-alt);
}
.header .mega-menu a{
    color: var(--color-grey);
    transition: var(--main-transition);
}
.header .mega-menu a:hover{
    margin-left: 10px;
    color: var(--main-color);
}
.header .container .bars{
    font-size: 30px;
    cursor: pointer;
    color: var(--color-grey);
    transition: var(--main-transition);
}
.header .container .bars:hover{
    color: #000;
}
@media(min-width: 992px){
    .header .container .bars{
        display: none;
    }
}
.header .container .xmark {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .header .container .xmark {
        display: none;
    }
}
/* End Header  */

/* Start Landing */
.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/landing/hero_2.jpg.webp);
    background-size: cover;
    z-index: 5;
    margin-top: -100px;
    position: relative;
}
@media(max-width: 767px) {
    .landing {
        margin-top: -80px;
    }
}
.landing::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.466);
    width: 100%;
    height: 100%;
}
.landing .container{
}
.landing .content {
    position: relative;
    z-index: 1;
    text-align: center;
}
@media(max-width: 767px) {
    .landing .content h2 {
        padding-top: 100px;
    }
}
.landing .content h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: normal;
}
@media(max-width: 767px) {
    .landing .content h2{
        font-size: 1.8rem;
        /* margin-top: 10px; */
    }
}
.landing .content p{
    color: #d3d3d3;
    margin-bottom: 25px;
}
.landing .content .search-bar{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.507);
    border-radius: 5px;
}
@media(max-width:992px){
    .landing .content .search-bar{
        flex-direction: column;
    }
}
.landing .content .search-bar input,
.landing .content .search-bar select{
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #777;
    flex-grow: 1;
    position: relative;
    height: 38px;
}
.landing .content .search-bar .location,
.landing .content .option{
    flex-grow: 1;
    position: relative;
}
.landing .content .search-bar .location input,
.landing .content .search-bar select{
    width: 100%;
}
.landing .content .search-bar .location::after,
.landing .content .search-bar .option::after{
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 5;
    padding: 10px;
    background-color: #fff;
    color: var(--color-grey);
    border-radius: 4px;
}
.landing .content .search-bar .location::after{
    content: "\f3c5";
}
.landing .content .search-bar .option::after {
    content: "\f0d7";
}
.landing .content .search-bar input::placeholder {
    transition: var(--main-transition);
}
.landing .content .search-bar input:focus::placeholder{
    opacity: 0;
}
.landing .content .search-bar .icon{
    margin-left: -50px;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    color: var(--color-grey);
}
.landing .content .search-bar input[type='submit']{
    background-color: var(--main-color);
    cursor: pointer;
    color: #fff;
    /* flex-shrink: 1; */
    letter-spacing: 2px;
    width: 150px;
    text-align: center;
    padding: 10px;
}
@media(max-width:992px) {
    .landing .content .search-bar input[type='submit']{
        flex: 1;
        width: 100%;
    }
}
.landing .content .search-bar input[type='submit']:hover{
    background-color: var(--main-color-alt);
}
/* End Landing */

/* Start Featured */
.features{
    margin-top: -40px;
    z-index: 7;
    position: relative;
    /* background-color: var(--back-section); */
    padding-bottom: var(--padding-bottom);
}
.features::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background-color: var(--back-section);
    z-index: -1;
}
.features .container {}
.features .box-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.features .box-section .box{
    background-color: #fff;
    text-align: center;
    padding: 40px 0;
    flex-basis: calc(100% / 6);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--main-transition);
    position: relative;
}
.features .box-section .box:hover{
    box-shadow: 0px 5px 10px #00da914d;
    background-color: var(--main-color);
}
@media(min-width: 767px){
    .features .box-section .box:hover {
        margin-top: -10px;
    }
}
.features .box-section .box:hover i,
.features .box-section .box:hover p{
    color: #fff;
}
.features .box-section .box p{
    color: var(--color-grey);
}
.features .box-section .box:hover span{
    color: #fff;
    background-color: var(--main-color-alt);
}
@media(max-width: 992px){
    .features .box-section .box{
        flex-basis: calc(100% / 3);
    }
}
@media(max-width: 767px) {
    .features .box-section .box {
        flex-basis: 100%;
    }
}
.features .box-section .box i{
    font-size: 35px;
    color: var(--main-color);
    margin-bottom: 20px;
    transition: var(--main-transition);
}
.features .box-section .box p {
    font-size: 18px;
    color: #5f5f5f;
    margin-bottom: 20px;
    transition: var(--main-transition);
}
.features .box-section .box span {
    padding: var(--padding-mini);
    background-color: var(--back-mini);
    border-radius: 50px;
    transition: var(--main-transition);
}


.features .container .main-title{
    margin: 60px 0 30px;
}

.rom-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    z-index: 5;
}
.rom-section .box {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    flex-basis: calc((100% / 4) - 15px);
    box-shadow: var(--box-shadow);
    transition: var(--main-transition);
    display: flex;
    flex-direction: column;
}
@media(min-width: 767px) {
    .features .rom-section .box:hover {
        margin-top: -10px;
    }
    
}
@media(max-width: 992px) {
    .rom-section .box {
        flex-basis: calc((100% / 2) - 10px);
        
    }
}

@media(max-width: 767px) {
    .rom-section {
        gap: 0;
    }
    .rom-section .box {
        flex-basis: 100% ;
        margin-bottom: 20px;
    }
}
.rom-section .box .img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    /* height: 100%; */
    /* transform: scale(1.05); */
}


.rom-section .box .rom-content {
    position: relative;
    width: 100%;
    padding: 20px 15px;
}

.rom-content .rom-title a {
    color: var(--main-color);
    font-weight: normal;
}
.rom-content .rom-title a img{
    max-width: 100%;
}
.rom-content address {
    color: #777;
    margin: 10px 0;
}

.rom-content .review {
    color: var(--color-grey);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.rom-content .review i {
    color: var(--color-grey);
    font-size: 14px;
    margin-right: 4px;
}

.rom-content .review .star-color {
    color: rgb(255, 208, 0);
}
/* End Featured */

/* Start Popular */
.popular{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.popular .main-title{
    margin: 0 auto 10px;
    width: fit-content;
}

.popular .popular-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.popular .box{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.popular .box .image img{
    max-width: 100%;
    transform: scale(1.05);
    transition: var(--main-transition);
}
.popular .box:hover .image img {
    transform: scale(1.1);
}
.popular .box .image{
    position: relative;
}
.popular .box .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 2;
}
.popular .box .content{
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    width: 100%;
}
.popular .box .icon-heart {
    top: 80px;
    background-color: rgba(255, 255, 255, 0.397);
}
.popular .box .icon-heart::before{
    color: #fff;
}
.popular .box .icon-heart:hover {
    background-color: red;
    color: #fff;
}

.popular .box .category{
    background-color: var(--main-color);
    color: #fff;
}
.popular .box h2{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 22px;
}
.popular .box h2 a{
    color: #fff;
}
.popular .box .address{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.popular .m-2{
    flex-basis: calc((100% / 3) - 20px);
}
@media(max-width: 992px){
    .popular .m-2{
        flex-basis: calc((100% / 2) - 20px);
    }
}
@media(max-width: 767px) {
    .popular .m-2 {
        flex-basis: 100%;
    }
}
.popular .m-5 {
    flex-basis: calc((100% / 2) - 15px);
}
@media(max-width: 992px) {
    .popular .m-5 {
        flex-basis: calc((100% / 2) - 20px);
    }
}
@media(max-width: 767px) {
    .popular .m-5 {
        flex-basis: 100%;
    }
}
/* End Popular */

/* Start Trending */
.trending{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--back-section);
}

.trending .rm-st{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending .rm-st .box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: calc(100% / 2 - 15px);
}
@media(max-width: 767px) {
    .trending .rm-st .box {
        flex-direction: column;
    }
}
@media(max-width: 992px){
    .trending .rm-st .box{
        display: flex;
        flex-basis: 100%;
    }
}
.trending .rm-st .box .img{
}
.trending .rm-st .box .img  {
    margin-right: 10px;
}
@media(max-width: 767px) {
    .trending .rm-st .box .img {
        margin: 0;
    }
}
.trending .rom-content{
    flex: 1;
}

/* End Trending */

/* start Testimonials  */
.testimonials{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.testimonials .main-title{
    margin: 0 auto 60px;
    text-align: center;
}
.testimonials .main-title::before{
    left: 50%;
    transform: translateX(-50%);
}
.testimonials .content{
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.testimonials .content img{
    display: block;
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    transition: var(--main-transition);
}
.testimonials .content:hover img{
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.testimonials .content span {
    display: block;
    margin: 0 auto 30px;
    color: var(--color-grey);
    user-select: none;
}
.testimonials .content p {
    color: var(--color-grey);
    font-size: 25px;
    line-height: 2;
    /* font-style: italic; */
    color: var(--color-grey);
    font-weight: normal;
    user-select: none;
}
@media(max-width: 992px) {
    .testimonials .content p {
        font-size: 25px;
    }
}
@media(max-width: 767px){
    .testimonials .content p{
        font-size: 20px;
    }
}
.testimonials .content .mark{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 20px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--main-transition);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.062);
}
.testimonials .content .mark:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
}
.testimonials .content .mark i {
    font-size: 20px;
    color: #fff;
}
.testimonials .content .mark:hover i{
    color: var(--main-color);
}
.testimonials .content .mark.left{
    left: -100px;
}

.testimonials .content .mark.right{
    right: -100px;
}
.testimonials .circles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 30px auto 0;
    position: relative;
    width: 100%;
}
.testimonials .cir{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
    cursor: pointer;
}
.testimonials .cir3{
    background-color: var(--main-color-alt);
}
@media(max-width: 992px){
    .testimonials .content .mark{
        display: none;
    }
}
/* End Testimonials  */

/* start Blog  */
.blog{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--back-section);
}
.blog .container .main-title{
    margin: 0 auto 20px;
    width: fit-content;
}
.blog .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    margin-bottom: 60px;
}
.blog .content .box{
    border-radius: 6px;
    overflow: hidden;
}
.blog .content img{
    max-width: 100%;
    border-radius: 6px;
}
.blog .content .box h2{
    margin: 20px 0 10px;
    font-weight: normal;
}
.blog .content .box ul{
    display: flex;
    align-items: center;
    list-style: circle;
}
.blog .content .box ul li{
    color: #acacac;
    margin-right: 30px;
    font-size: 17px;
}
.blog .content .box ul li a{
    color: var(--main-color);
}
.blog .content .box ul li a:hover{
    color: var(--main-color-alt);
}
.blog .content .box p {
    color: var(--color-grey);
    margin-top: 20px;
    line-height: 1.6;
    font-size: 22px;
}

.blog .container .view-p{
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 30px;
    box-shadow: 0px 5px 10px #30e3cb44;
    border-radius: 4px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
    width: fit-content;
}
.blog .container .view-p:hover {
    background-color: var(--main-color-alt);
}
/* End Blog  */
 /* start subscribe */
.subscribe{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-color);
}
.subscribe .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.subscribe .text{
    flex: 1;
}
@media(max-width: 767px){
    .subscribe .text{
        flex-basis: 100%;
        text-align: center;
    }
}
.subscribe .text h3{
    color: #fff;
}
.subscribe .text p{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.subscribe .form {
    flex: 1;
}
.subscribe .form form{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 767px) {
    .subscribe .form {
        flex-basis: 100%;
    }
}
.subscribe .form input[type="email"]{
    padding: 10px;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #fff;
    background-color: transparent;
    outline: none;
    /* width: calc(100% - 122px); */
    color: #fff;
    flex: 1;
}
.subscribe .form input[type="email"]:focus{
}
.subscribe .form input[type="email"]::placeholder {
    transition: var(--main-transition);
    color: #fff;
}
.subscribe .form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.subscribe .form button {
    padding: 10px 20px;
    border: none;
    margin-left: -6px;
    /* border: 1px solid #fff; */
    background-color: #fff;
    font-size: 18px;
    border-radius: 0 6px 6px 0;
    transition: var(--main-transition);
    cursor: pointer;
}
.subscribe .form button:hover{
    border-color: #000;
    background-color: #000;
    color: #fff;
}

/* End subscribe */

/* Start Footer */
.footer{
    padding-top: var(--padding-top);
    padding-bottom: 30px;
    background-color: rgb(53, 53, 53);
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--color-grey);
}
@media(max-width: 992px) {
    .footer .container {
        grid-template-columns: 100%;
    }
}
@media(max-width: 992px) {
    .footer .container .col-r{
        text-align: center;
    }
}
.footer .col-r h3{
    font-weight: normal;
    color: #fff;
    margin-bottom: 25px;
}
.footer .col1{}
.footer .col1 h3{
}
.footer .col1 p{
    color: var(--color-grey);
    line-height: 1.7;
    font-size: 18px;
}
.footer .col2 li a{
    color: var(--color-grey);
    font-size: 18px;
    transition: var(--main-transition);
}
.footer .col2 li a:hover{
    color: #fff;
}
.footer .col2 li:not(:last-child){
    margin-bottom: 20px;
}
.footer .col3 .social{
    display: flex;
    gap: 10px;
}
@media(max-width: 992px) {
    .footer .col3 .social {
        justify-content: center;
    }
}
.footer .col3 .social a{
    color: var(--color-grey);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-grey);
    transition: var(--main-transition);
}
.footer .col3 .social a:hover{
    color: #fff;
    border-color: #fff;
}
.footer .col4 form{
    display: flex;
}

.footer .col4 input[type="search"]{
    padding: 10px;
    border: 1px solid var(--color-grey);
    background-color: transparent;
    outline: none;
    color: #fff;
    border-radius: 6px 0 0 6px;
    flex: 1;
}

.footer .col4 input[type="search"]::placeholder{
    color: var(--color-grey);
    transition: var(--main-transitions);
}

.footer .col4 input[type="search"]:focus::placeholder{
    opacity: 0;
}
.footer .col4 input[type="submit"] {
    padding: 10px 5px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    margin-left: -5px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    transition: var(--main-transition);
}
@media(max-width: 992px) {
    .footer .col4 input[type="submit"] {
        padding: 10px 30px;
    }
}
.footer .col4 input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}

.footer .copyright{
    margin-top: 30px;
    padding: 0 15px;
}
.footer .copyright p{
    text-align: center;
    color: var(--color-grey);
}
.footer .copyright p .heart::before {
    content: "\f004";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
}
.footer .copyright .name a{
    color: rgb(177, 177, 177);
    transition: var(--main-transition);
}
.footer .copyright:hover .name a{
    color: #fff;
}
/* End Footer */